
<div class="update-container">
  <div class="display-blog">
    <h5 class="card-header"> {{blog.title}}</h5>
    <div class="card-body">
      
      <p class="card-text"> {{blog.contents}}</p> <br>
      <h5 class="card-title"> Posted by: {{blog.user.user_name}}</h5>
    </div>
    <form id="deleteBar">
  <div class="form-delete">
  </div>
  <button type="submit" id={{blog.id}} class="btn">Delete This Blog</button>
</form>
  </div>


<br>

<br>
<div class="update">
<form id="BlogUpdate">
  <div class="form-group">
    <h3>Update this Blog</h3>
    <input type="text" class="form-control" id="blogTitle" placeholder="New Blog Title">
  </div>
    <div class="form-group">
    <textarea type="text" class="form-control" id="blogText" placeholder="New Blog Content"></textarea>
  </div>
  <button type="submit" class="btn btn-primary d-flex justify-content-center center">Submit</button>
</form>
</div>
</div>




  <script src="/js/update.js"></script>